/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* Анимация стрелки */
.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate;
  left: -14px;
  top: 1px;
}

@keyframes arrow {
  0% {
    left: -10px;
    top: 1px;
  }

  100% {
    left: -14px;
    top: 1px;
  }
}

/* Ховер сердечка */
.core {
  transition: 0.03s;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s;
}

.main-body {
  transition: 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s 0.05s;
}

/* Нажатие сердечка */

.like-icon:active .core {
  fill: var(--heart-animation-color);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-animation-color);
  transition: fill 0.3s 0.05s;
}

/* Анимация сердечка */

.like-icon.is-liked .core {
  fill: var(--heart-animation-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-animation-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .contour {
  fill: var(--heart-animation-color);
  transition: fill 0.3s ease 0.06s;
}

.like-icon.is-liked .heart {
  animation-name: scale;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  transform-origin: center;
}
.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes sparks {
  from {
    fill: none;
  }

  50% {
    fill: var(--heart-animation-color);
  }

  to {
    fill: none;
  }
}

/* Анимация кнопок */

.card__like-button::after {
  content: "";
  background-color: var(--main-color);
  translate: -100%;
  transition: translate 0.5s ease-in-out;
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.card__like-button:hover::after {
  translate: 0;
  position: relative;
  transition: translate 0.5s ease-in-out;
}

.theme-dark .card__like-button::after {
  background-color: var(--main-color);
}

@media (prefers-color-scheme: dark) {
  .theme-auto .card__like-button::after {
    background-color: var(--main-color);
  }
}

.footer-button::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  translate: -100% 0;
  transition: translate 0.5s ease-in-out;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.footer-button:hover::after {
  translate: 0 0;
  transition: translate 0.5s ease-in-out;
}

.theme-dark .footer-button:after {
  background-color: var(--main-color);
}

@media (prefers-color-scheme: dark) {
  .theme-auto .footer-button::after {
    background-color: var(--main-color);
  }
}

.close-button::after {
  content: "";
  background-color: var(--main-color);
  translate: -100%;
  transition: translate 0.5s ease-in-out;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.close-button:hover::after {
  translate: 0;
  transition: translate 0.5s ease-in-out;
}

.theme-dark .close-button::after {
  background-color: var(--main-color);
}

@media (prefers-color-scheme: dark) {
  .theme-auto .close-button::after {
    background-color: var(--main-color);
  }
}
