/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(
      90deg,
      transparent 0 2px,
      #d3d3d3 2px 4px
    ),
    repeating-linear-gradient(180deg, transparent 0 2px, #d3d3d3 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
  color: var(--accent-color-light);
  font-variation-settings: "wght" 400;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  border: 2px solid var(--accent-color-light);
  background-color: white;
  max-width: clamp(23.438rem, 16.373rem + 30.141vw, 43.5rem);
  border: 2px solid var(--accent-color-light);
}

.header-label__link {
  text-decoration: none;
  font-family: var(--secondary-font), monospace, arial;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  margin-block-start: clamp(7.5rem, 7.153rem + 1.497vw, 8.5rem);
  margin-block-end: 20px;
}

.main-title {
  font-size: clamp(0.875rem, 0.634rem + 0.893vw, 1.438rem);
  font-family: var(--secondary-font), monospace, arial;
  font-weight: 400;
  margin-block-end: 23px;
}

.main-title,
.theme-menu__button {
  text-transform: uppercase;
}

.theme-menu {
  align-self: center;
  margin-block-end: 20px;
  margin-inline-start: 18px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-block-start: 3px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  position: relative;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: color 0.5s;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color-light);
  transition: width 0.3s, background-color 0.5s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  margin: auto;
}

.card-list__item {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color-light);
  background-color: white;
  gap: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.label__image {
  position: relative;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.label {
  position: absolute;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 0.2px white;
  top: 25px;
  right: 11px;
  z-index: 1;
}

@supports ((text-stroke: 0.2px white) or (-webkit-text-stroke: 0.2px white)) {
  .label {
    -webkit-text-stroke: 0.2px white;
    text-stroke: 0.2px white;
    text-shadow: none;
  }
}

.card-title {
  font-family: var(--main-font), sans-serif, arial;
  font-size: 18px;
  padding: 0 10px;
  padding-top: 5px;
  font-variation-settings: "wght" 700;
}

.card-image {
  min-width: 100%;
  min-height: 100%;
}

.card-text__block {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-family: var(--main-font);
  padding: 0 25px;
  font-size: 18px;
  line-height: 21px;
}

.button-set {
  display: flex;
  align-self: flex-end;
  padding-right: 25px;
  gap: 3px;
}

.card__like-button {
  background-color: transparent;
  width: 130px;
  height: 38px;
  border: 2px solid var(--accent-color-light);
  margin-block-end: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.like-icon {
  min-width: 36px;
  min-height: 36px;
}

.button__text {
  position: absolute;
  z-index: 1;
  transition: 0.5s ease-in-out;
  color: white;
  mix-blend-mode: difference;
}

.card__icon-button {
  max-block-size: 38px;
  display: flex;
  align-items: center;
  justify-items: center;
  border: none;
  background-color: transparent;
  padding: 1px;
}

.grayscale-filter__image {
  filter: grayscale(70%);
}

.saturated-image {
  filter: saturate(400%);
}

.hue-rotate-filter__image {
  filter: hue-rotate(30deg);
}

.invert-filter__image {
  filter: invert(100%) opacity(0.8);
}

.sepia-filter__image {
  filter: sepia(90%);
}

.blured-image {
  filter: blur(6px);
}

.multiple-filters__image {
  filter: contrast(200%) saturate(190%) hue-rotate(90deg) opacity(0.6)
    brightness(50%);
}

.footer {
  max-width: 335px;
  border: 2px solid var(--accent-color-light);
  margin: 50px auto 105px;
  background-color: white;
}

.footer-button {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px 0;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.footer-button__text,
.floppy-icon {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: white;
}

.floppy-icon {
  width: 21px;
  height: 21px;
}

.dialog {
  width: 357px;
  height: 193px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-content: center;
  position: fixed;
  z-index: 1;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog::backdrop {
  backdrop-filter: brightness(30%);
}

.dialog-description {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 11px;
  line-height: 21px;
  text-transform: uppercase;
}

.close-button {
  background-color: transparent;
  min-width: 293px;
  min-height: 38px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.close-button:focus {
  outline: none;
}

.floppy-wrapper {
  display: flex;
  width: 39px;
  height: 39px;
}

.main-body {
  fill: none;
}

.core {
  fill: none;
}
/* Для смартфонов*/

@media (width <= 376px) {
  .page {
    min-width: 100vw;
  }

  .header {
    max-height: 49vh;
  }

  .header-label {
    font-size: clamp(2.75rem, 0.9318rem + 9.0909vw, 3.0625rem);
  }

  .card-image {
    max-width: 100%;
    max-height: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    max-width: 306px;
  }

  .footer-button {
    display: flex;
    flex-direction: column;
  }

  .close-button {
    max-width: 257px;
  }

  .padding-text {
    padding-right: 30px;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }
}

/* Фокус для кнопок */

.card__like-button:focus,
.card__icon-button,
.footer-button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.footer-button:focus-visible {
  box-shadow: 2px 2px 0px var(--accent-color-light);
  transition: box-shadow 0.5s;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color-light);
}
