/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "inter";
  --secondary-font: "PressStart2P";
  --heart-animation-color: #ff0000;
  --main-color: #000;
  --accent-color: #FFF;
}
